* {
    font-family: 'timesnewroman';
    font-style: light;
    background-color: black;
    color: white;
  }
  
  .all {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-family: impact;
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 245);
  }
  
  .body {
    display: flex;
    justify-content: space-between;
  }
  
  .side-images {
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  
  .side-images.left {
    align-items: flex-start;
    margin-right: 20px;
  }
  
  .side-images.right {
    align-items: flex-end;
    margin-left: 20px;
  }
  
  .main-content {
    flex-grow: 1;
    max-width: 800px;
  }
  
  .description {
    font-size: 18px;
    font-style: italic;
  }
  
  .brain {
    display: flex; 
    justify-content: center;
  }
  
  .submit button {
    display: flex;
    justify-content: center;
    background-color: magenta;
    color: white;
    font-size: 18px;
  }
  
  #result {
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 20px;
    color: rgb(0, 255, 224);
  }
  
  #bigbanner {
    width: 100vw;
  }
  
  #photoone, #phototwo {
    width: 200px;
    margin: 10px 0;
  }
  
  #photothree, #photofour {
    width: 150px;
    margin: 10px 0;
  }
  
  #lastbanner {
    width: 100vw;
    height: 20px;
  }
  
  #form {
    display: flex;
    justify-content: center;
  }
  
  #codetype {
    font-size: 18px;
  }
  
  #formbutton {
    justify-content: center;
    margin-left: 65px;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  
  #secondpagelink {
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 20px;
    color: rgb(0, 255, 224);
  }