* {
    font-family: 'timesnewroman';
    font-style: light;
    background-color: black;
    color: white;
  }
  
  .all {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  
  h1 {
    font-family: impact;
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 245);
  }
    
   
    
    
  
  .description {
    font-size: 18px;
    font-style: italic;
   
  }
  
  .brain {display: flex; 
    justify-content: center;
  }
  
  .submit button 
  {display: flex;
  justify-content: center;
  background-color: yellow;
    color: black;}
  
  #result {
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 20px;
    color: rgb(0, 255, 224)
  }