* {
    font-family: 'timesnewroman';
    font-style: light;
    background-color: black;
    color: white;
  }
  
  .all {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-family: impact;
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 245);
  }
  
  .description {
    font-size: 18px;
    font-style: italic;
  }
  
  .brain {
    display: flex;
    justify-content: center;
  }
  
  .submit button {
    display: flex;
    justify-content: center;
    background-color: magenta;
    color: white;
    font-size: 18px;
  }
  
  #result {
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 20px;
    color: rgb(0, 255, 224);
  }
  
  #bigbanner {
    width: 100vw;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .body {
    flex: 1;
    margin: 20px;
  }
  
  .photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
  }
  
  #photoone, #phototwo, #photothree, #photofour {
    width: 150px;
    margin-bottom: 20px;
  }
  
  #lastbanner {
    width: 100vw;
    height: 20px;
  }
  
  #form {
    display: flex;
    justify-content: center;
  }
  
  #codetype {
    font-size: 18px;
  }
  
  #formbutton {
    position: absolute;
    justify-content: center;
    margin-left: 65px;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  
  #secondpagelink {
    display: flex;
    justify-content: center;
    font-family: impact;
    font-size: 20px;
    color: rgb(255, 0, 224);
  }
  